#MainPage{
    width: 100vw;
    height: 75vh;

    position: absolute;
    

    z-index: 0;
}

#MainPage .MainPage--suppress{
    width: 70vw;
    height : 65vh;
    margin: auto;
    margin-top: 35vh;

    border-radius: 25px 25px 0 0;

    background-color: brown;
}