.Avatar {
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  justify-items: center;

  /* background-color: aquamarine; */
}

.Avatar--image {
  width: 15vw;
  height: 15vw;

  background: url(../../../assets/image/me.png) no-repeat center;
  background-size: cover;

  /* background-color: aquamarine; */
}

.Avatar--description {
  width: 70%;
  margin-top: 20px;
  text-align: start;
  /* background-color: blueviolet; */
}
