.contact {
  width: 100%;
  height: 100%;

  margin-top: 80px;

  justify-content: baseline;
  /* gap: 100px; */
}

/* INFORMATION */

.contact__information {
  width: 50%;
  height: fit-content;

  margin-left: 10vw;

  justify-content: baseline;
  gap: 30px;

  /* background-color: aquamarine; */
}
.contact__information .info {
  display: flex;
  flex-direction: row;
  justify-content: baseline;

  gap: 30px;
}

.contact__information .img {
  width: 30px;
  height: 50px;

  /* background-color: purple; */
}

.contact__information .title {
  font-weight: 700;
  font-size: large;

  margin-bottom: 5px;
}
.contact__information .content {
  color: grey;
}

/* FORM */

.contact__form {
  width: 70%;
  height: 100%;

  justify-content: baseline;

  gap: 40px;
  /* background-color: antiquewhite; */
}

.contact__form .name {
  width: 50%;
  height: 3em;

  border-radius: 10px;
  outline: none;
  border: 0;
  padding: 5px 10px;

  font-family: "Quicksand";

  background-color: #d9ffda;
  font-weight: 600;
}
.contact__form .email {
  width: 50%;
  height: 3em;

  border-radius: 10px;
  outline: none;
  border: 0;
  padding: 5px 10px;

  background-color: #d9ffda;

  font-family: "Quicksand";
  font-weight: 600;
}
.contact__form .message {
  width: 70%;
  height: 15em;

  border-radius: 10px;
  outline: none;
  border: 0;
  padding: 5px 10px;
  resize: none;

  background-color: #d9ffda;

  font-family: "Quicksand";
  font-weight: 600;
}

.btn-send {
  width: fit-content;
  height: 2em;

  margin-top: 20px;
  padding: 15px;

  border: 0;
  border-radius: 10px;

  font-family: "Quicksand";
  font-weight: 700;
  font-size: medium;

  background-color: #78f27b;
}

@media screen and (max-width: 46.1875em) {
  .contact {
    width: 100%;
    flex-direction: column;
    align-items: center;

    gap: 5em;
  }

  .contact__information {
    width: fit-content;
    height: fit-content;

    margin-left: 0px;

    /* justify-content: baseline; */
    gap: 2em;

    /* background-color: aquamarine; */
  }

  .contact__form {
    width: 90%;
    align-items: center;
    gap: 1.5em;
    /* background-color: aquamarine; */
  }

  .contact__form .name {
    width: 70%;
    height: 3em;

    border-radius: 10px;
    outline: none;
    border: 0;
    padding: 5px 10px;

    font-family: "Quicksand";

    background-color: #d9ffda;
    font-weight: 600;
  }
  .contact__form .email {
    width: 70%;
    height: 3em;

    border-radius: 10px;
    outline: none;
    border: 0;
    padding: 5px 10px;

    background-color: #d9ffda;

    font-family: "Quicksand";
    font-weight: 600;
  }

  
}
