
.NavBar .NavBar--MainTitle {
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: large;
}

.NavBar .NavBar--Options {
  width: 85%;
  height: 100%;

  margin-top: 0;
  font-weight: 600;

  /* config children */
  padding-right: 10%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}
