.SkillsPage--HList{

    margin-top: 60px;
    
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* background-color: aquamarine; */
}

.SkillsPage--HList--android{
    width: 30vw;
    height: 50vw;

    margin: auto;

    border-radius: 25px;
    box-shadow: 0 0 15px gray;

    /* background-color: bisque; */
}

.SkillsPage--HList--design{
    width: 30vw;
    height: 50vw;

    margin: auto;

    border-radius: 25px;
    box-shadow: 0 0 15px gray;

    /* background-color: bisque; */
}

.SkillsPage--HList--itemTitle{
    width: 100%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: blue; */
}
.SkillsPage--HList--itemTitle .wrapper{
    width: 35px;
    height: 35px;

    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;

}
.SkillsPage--HList--itemTitle .title{
    margin-top: 5px;

    width: 100%;

    text-align: center;
    font-size: large;
    font-weight: 700;
    /* color: gray; */
}

.SkillsPage--HList--design .design--body{
    width: 100%;
    height: 50px;

    margin-top: 20%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 25px;

}

.design--body .design--item{
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: row;
    justify-content: baseline;

    gap: 15px;
}
.design--item .iconWrapper{
    width: 35px;
    height: 100%;

    margin-left: 15px;

}
.design--item > p{
    font-size:medium;
}

.android--description{
    width: 100%;
    height: auto;

    margin-top: 15%;
}
.android--item{

    width: 100%;
    height: fit-content;

    margin-top: 10px;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;

    font-weight: 600;
}