.skills {
  margin-top: 60px;

  width: 100%;
  height: fit-content;

  justify-content: space-around;

  /* background-color: aquamarine; */
}

.card-android {
  width: 350px;
  height: 550px;

  margin: auto;

  border-radius: 25px;
  box-shadow: 0 0 15px gray;

  /* background-color: bisque; */
}

.card-design {
  width: 350px;
  height: 550px;

  margin: auto;

  border-radius: 25px;
  box-shadow: 0 0 15px gray;

  /* background-color: bisque; */
}

.card-top {
  width: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* background-color: blue; */
}
.card-top__img {
  width: 35px;
  height: 35px;

  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}
.card-top__title {
  margin-top: 5px;

  width: 100%;

  text-align: center;
  font-size: large;
  font-weight: 700;
  /* color: gray; */
}

.card-design__content {
  width: 100%;
  height: 50px;

  margin-top: 20%;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 25px;
}

.design-item {
  width: 100%;
  height: 50px;
  /* background-color: aquamarine; */

  display: flex;
  flex-direction: row;
  justify-content: baseline;

  gap: 15px;
}
.design-item__iconWrapper {
  width: 35px;
  height: 100%;

  margin-left: 15px;
}
.design-item > p {
  font-size: medium;
}

.card-android__content {
  width: 100%;
  height: auto;

  margin-top: 15%;
}
.android-item {
  width: 100%;
  height: fit-content;

  margin-top: 10px;
  margin-left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 5px;

  font-weight: 600;
}

@media screen and (max-width: 46.1875em) {
  .skills{
      flex-direction: column;
      gap: 6em;
  }

}
