.NavBar {
  width: 100vw;
  height: 60px;

  position: fixed;

  background-color: #72f476;
  box-shadow: 0 0 10px #006336;
  z-index: 1;

  /* config children */

  display: flex;
  flex-direction: row;
}

.AboutPage {
  width: 100vw;
  height: fit-content;

  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #006336; */
}

.ProjectPage {
  width: 100vw;
  height: fit-content;

  margin-top: 250px;

  /* background-color: blue; */
}

.SkillsPage {
  width: 100vw;
  height: fit-content;

  margin-top: 200px;

  /* background-color: aquamarine; */
}

.ContactPage {
  width: 100vw;
  height: fit-content;

  margin-top: 200px;

  /* background-color: teal; */
}

/* common  */

.btn {
  font-weight: 700;
  font-size: large;

  height: 3.6em;
  min-width: 200px;
  padding: 0 15px;

  border-radius: 10px;
  background-color: #72f476;

  display: flex;
  justify-content: center;
  gap: 20px;

  cursor: pointer;

  transition: all .26s ease-out;

}
.btn__txt{
  margin-top: auto;
  margin-bottom: auto;
}
.btn__icon{
  width: 30px;
  height: 100%;
}

.btn:hover{
  /* opacity: 0.7; */
  box-shadow: 0 0 30px #00ee08;
  background-color: #d4ffd6;

  /* font-size: larger; */
}

.Hlist{
  display: flex;
  flex-direction: row;
}
.Vlist{
  display: flex;
  flex-direction: column;
}

