.AboutPage-mid {
  width: 100vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* background-color: aquamarine; */
}

.avt {
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  justify-items: center;

  /* background-color: aquamarine; */
}

.avt-img {
  width: 15vw;
  height: 15vw;

  background: url(../../assets/image/me.png) no-repeat center;
  background-size: cover;
}

.avt-description {
  width: 70%;
  margin-top: 20px;
  text-align: start;
  /* background-color: blueviolet; */
}

.content {
  width: 40vw;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > p {
  color: gray;
  font-size: large;
  margin-left: 50px;
}

.content-achievement {
  margin-left: 70px;
  margin-bottom: 25%;

  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 8vw;

  padding-bottom: 0;
}

.content-achievement__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
.content-achievement__item .num {
  color: black;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.content-achievement-item .des {
  color: gray;
  font-weight: 600;

  letter-spacing: 2px;
}

/* BOT */

.btn-downl{
  margin-top: 50px;
}

