.AboutPage-mid {
  width: 100vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* background-color: aquamarine; */
}

.avt {
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  justify-items: center;

  /* background-color: aquamarine; */
}

.avt__img {
  width: 15em;
  height: 15em;

  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;

  background: url(../../assets/image/me.png) no-repeat center;
  background-size: cover;
}

.avt__description {
  width: 70%;
  margin-top: 20px;
  text-align: start;
  /* background-color: blueviolet; */
}

.content {
  width: 40vw;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > p {
  color: gray;
  font-size: x-large;
  /* margin-left: 50px; */
}

.content-achievement {
  /* margin-left: 70px; */
  margin-bottom: 25%;

  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 8vw;

  padding-bottom: 0;
}

.content-achievement__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
.content-achievement__item .num {
  color: black;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}
.content-achievement-item .des {
  color: gray;
  font-weight: 600;

  letter-spacing: 2px;
}

/* BOT */

.btn-downl {
  margin-top: 50px;
}

@media screen and (max-width: 46.1875em) {
  .AboutPage-mid {
    width: 80%;
    flex-direction: column;
    align-items: center;

    /* background-color: aquamarine; */
  }

  .avt {
    width: 100%;
    align-items: center;
    padding-top: 50px;
  }

  .avt__description {
    display: none;
  }
  .content {
    width: 100%;
  }

  .content > p {
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    font-size: larger;
    padding-top: 50px;

    text-align: center;
  }
  .content-achievement {
    margin-top: 50px;
    margin-bottom: 25%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;

    /* background-color: antiquewhite; */
  }
}
